nginx/keys/*
.DS_Store
**__debug_bin**
database/data/
.env

openssl/jwtKeys/
config/auth.env
config/app.env
config/location.env
config/config.env

auth/src/assets/icons/*
!auth/src/assets/icons/readme.md
dashboard/src/node_modules/
dashboard/src/.next/
auth/src/tmp/
app/src/tmp/
location/src/tmp/
auth/icons/

containers/user/src/tmp/
containers/game/src/tmp/
containers/gcore/src/tmp/